html {
    background-color:silver;
}
img{
    border-color: black;
    border-style: outset;
    border-width: 5px;
    max-width: 200px;
    max-height: 200px;
}
div {
    text-align: center;
}
.history {
    width: 45%;
    margin: 10px;
}
#bio {
    border-color: black;
    border-width: 5px;
    border-style: outset;
    width: 10%;
    background-color: grey;
    padding: 5px;
    float: right;
}
#Project_links {
    border-color: black;
    border-width: 5px;
    border-style: outset;
    width: 10%;
    background-color: grey;
    padding: 5px;
}
#back {
    border-width: 5px;
    border-style: outset;
    border-color: black;
}
h1 {
    text-align: center;
}