.bio {
    text-align: center;
}
img{
    max-width: 200px;
    max-height: 200px;
}
div {
    text-align: center;
}
#title {
     background-color: blue;
}
#bio {
    background-color: aqua;
}
#nickname {
    background-color: aqua;
}
h1 {
    text-align: center;
}