html {
    background-color: royalblue;
}
img{
    max-width: 200px;
    max-height: 200px;
}
div {
    text-align: center;
}

#bio {
    background-color: grey;
}
#nickname {
    background-color: grey;
}
#Project_links {
    background-color: grey;
}
h1 {
    text-align: center;
}